{{#[../helpers/layout] htmlWebpackPlugin}}
<div class="clip">
  <picture class="clip__first">
    <source srcset="../../assets/images/2020-why-galaxy-switch-01.webp" type="image/webp">
    <img src="../../assets/images/2020-why-galaxy-switch-01.webp" alt="">
  </picture>
  <div>
    <video autoplay muted>
      <source src="../../assets/video/02.mp4" type="video/mp4">
    </video>
  </div>
  <div class="clip__second">
    <picture>
      <source srcset="../../assets/images/2020-why-galaxy-switch-02.webp" type="image/webp">
      <img src="../../assets/images/2020-why-galaxy-switch-02.webp" alt="">
    </picture>
  </div>
</div>
<ul class="show"></ul>
<script type="myTemplate" id="testTemplate">
  <li>
    <div>게시자 : {{values.name}}</div>
    <div class="content">{{content}}</div>
    <div>좋아요 개수 : <span> {{like}} </span></div>
    <div class="comment">
      <h4>댓글</h4>
      {{#each comment}}
      <div>{{@index}}번째 댓글 : {{this}}</div>
      {{/each}}
    </div>
  </li>
</script>
{{/[../helpers/layout]}} 